table, th, td, thead, tr {
    border-collapse: collapse;
    opacity: 100;
  }

  .header {
    background: #19115b
  }

  th {
    padding: 1.5rem 1rem;
    color: #fff
  }
  td {
    text-align: center;
    padding: 0.5rem;
  }

  .container {
    display: flex;
    justify-content: center;
  }

table {
    background-color: #fff;
    width: 85%;
    border-collapse: collapse;
  }