.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none
}

.pageLink {
    border-radius: 5px;
    background-color: white;
    font-size: large;
    height: 2rem;
    width: 2rem;
    margin: 5px;
    border: none;
    text-decoration: none;
    color: black;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.pageLink:hover {
    top: -2.5px;
    background-color: #33FF99;
    color: white;
  }
